<% provide(:title, "Confirm your booking") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1> Confirm your details </h1>
      <small> For the flight: </small>
      <table class="table">
        <tr> 
          <th> ID
          <th> From:
          <th> To:
          <th> Date:
          <th> Time:
          <th> Flight duration:
        </tr>
        <tr>
          <td> <%=  @flight.id %>
          <td> <%=  @flight.origin.airport_code %>
          <td> <%=  @flight.destination.airport_code %>
          <td> <%=  @flight.departure_date.to_date %>
          <td> <%=  @flight.departure_date.strftime("%H:%M") %>
          <td> <%=  Time.at(@flight.duration*60).utc.strftime("%H:%M:%S") %>
        </tr>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1> With the passengers: </h1>
      <table class="table">
        <tr> 
          <th> Name:
          <th> Email:
        </tr>
        <% @passengers.each do |p| %>
          <tr>

            <td> <%= p.name %>
            <td> <%= p.email %>
          </tr>
        <% end %>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= link_to "Search for a new flight", root_path %>
  </div>
</div>